CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=16
CONFIG_COREMARK_OPTIMIZE_O3=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11AX_SUPPORT is not set
CONFIG_HTOP_LMSENSORS=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_USB_SUPPORT=n
CONFIG_DEFAULT_kmod-usb-dwc3=n
CONFIG_DEFAULT_kmod-usb-dwc3-qcom=n
CONFIG_DEFAULT_kmod-usb3=n
#
# Firmware
#
#
# ath10k Board-Specific Overrides
#
# CONFIG_PACKAGE_ipq-wifi-8devices_kiwi is not set
# CONFIG_PACKAGE_ipq-wifi-8devices_mango is not set
# CONFIG_PACKAGE_ipq-wifi-alfa-network_ap120c-ax is not set
# CONFIG_PACKAGE_ipq-wifi-aliyun_ap8220 is not set
# CONFIG_PACKAGE_ipq-wifi-anysafe_e1 is not set
# CONFIG_PACKAGE_ipq-wifi-arcadyan_aw1000 is not set
# CONFIG_PACKAGE_ipq-wifi-asus_rt-ax89x is not set
# CONFIG_PACKAGE_ipq-wifi-buffalo_wxr-5950ax12 is not set
# CONFIG_PACKAGE_ipq-wifi-cambiumnetworks_xe34 is not set
# CONFIG_PACKAGE_ipq-wifi-cmcc_rm2-6 is not set
# CONFIG_PACKAGE_ipq-wifi-cmiot_ax18 is not set
# CONFIG_PACKAGE_ipq-wifi-compex_wpq873 is not set
# CONFIG_PACKAGE_ipq-wifi-dynalink_dl-wrx36 is not set
# CONFIG_PACKAGE_ipq-wifi-edgecore_eap102 is not set
# CONFIG_PACKAGE_ipq-wifi-edimax_cax1800 is not set
# CONFIG_PACKAGE_ipq-wifi-elecom_wrc-x3000gs2 is not set
# CONFIG_PACKAGE_ipq-wifi-glinet_gl-ax1800 is not set
# CONFIG_PACKAGE_ipq-wifi-glinet_gl-axt1800 is not set
# CONFIG_PACKAGE_ipq-wifi-glinet_gl-b3000 is not set
# CONFIG_PACKAGE_ipq-wifi-ignitenet_ss-w2-ac2600 is not set
# CONFIG_PACKAGE_ipq-wifi-iodata_wn-dax3000gr is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-cs-02 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-cs-03 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-ss-01 is not set
# CONFIG_PACKAGE_ipq-wifi-kt_ar06-012h is not set
# CONFIG_PACKAGE_ipq-wifi-lg_gapd-7500 is not set
# CONFIG_PACKAGE_ipq-wifi-link_nn6000 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_homewrk is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mr5500 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mr7350 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mr7500 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mx2000 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mx4200 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mx5300 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mx5500 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_mx8500 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_spnmx56 is not set
# CONFIG_PACKAGE_ipq-wifi-linksys_whw03 is not set
# CONFIG_PACKAGE_ipq-wifi-meraki_mr30h is not set
# CONFIG_PACKAGE_ipq-wifi-meraki_z3 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_lbr20 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_rax120v2 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_sxk80 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax214 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax218 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax610 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax610y is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax620 is not set
# CONFIG_PACKAGE_ipq-wifi-netgear_wax630 is not set
# CONFIG_PACKAGE_ipq-wifi-prpl_haze is not set
# CONFIG_PACKAGE_ipq-wifi-qihoo_360v6 is not set
# CONFIG_PACKAGE_ipq-wifi-qnap_301w is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5 is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5-jdcloud is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax6 is not set
# CONFIG_PACKAGE_ipq-wifi-skspruce_wia3300-20 is not set
# CONFIG_PACKAGE_ipq-wifi-spectrum_sax1v1k is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_archer-c59-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_archer-c6-v2 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_archer-c60-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_deco-x80-5g is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_eap610od is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_eap620hd-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_eap623od-hd-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_eap625od-hd-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-tplink_eap660hd-v1 is not set
# CONFIG_PACKAGE_ipq-wifi-verizon_cr1000a is not set
# CONFIG_PACKAGE_ipq-wifi-wallys_dr40x9 is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_aiot-ac2350 is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax1800 is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax3600 is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax6000 is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax9000 is not set
# CONFIG_PACKAGE_ipq-wifi-yuncore_ax830 is not set
# CONFIG_PACKAGE_ipq-wifi-yuncore_ax850 is not set
# CONFIG_PACKAGE_ipq-wifi-yuncore_ax880 is not set
# CONFIG_PACKAGE_ipq-wifi-yuncore_fap650 is not set
# CONFIG_PACKAGE_ipq-wifi-yyets_le1 is not set
# CONFIG_PACKAGE_ipq-wifi-zbtlink_zbt-z800ax is not set
# CONFIG_PACKAGE_ipq-wifi-zn_m2 is not set
# CONFIG_PACKAGE_ipq-wifi-zte_mf269 is not set
# CONFIG_PACKAGE_ipq-wifi-zte_mf286ar is not set
# CONFIG_PACKAGE_ipq-wifi-zte_mf286c is not set
# CONFIG_PACKAGE_ipq-wifi-zte_mf287 is not set
# CONFIG_PACKAGE_ipq-wifi-zte_mf287plus is not set
# CONFIG_PACKAGE_ipq-wifi-zyxel_nbg7815 is not set
# end of ath10k Board-Specific Overrides
# CONFIG_PACKAGE_aeonsemi-as21xxx-firmware is not set
# CONFIG_PACKAGE_aircard-pcmcia-firmware is not set
# CONFIG_PACKAGE_airoha-en7581-npu-firmware is not set
# CONFIG_PACKAGE_airoha-en8811h-firmware is not set
# CONFIG_PACKAGE_amd64-microcode is not set
# CONFIG_PACKAGE_amdgpu-firmware is not set
# CONFIG_PACKAGE_aq-fw-download is not set
# CONFIG_PACKAGE_ar3k-firmware is not set
# CONFIG_PACKAGE_ath10k-board-qca4019 is not set
# CONFIG_PACKAGE_ath10k-board-qca9377 is not set
# CONFIG_PACKAGE_ath10k-board-qca9377-sdio is not set
# CONFIG_PACKAGE_ath10k-board-qca9887 is not set
# CONFIG_PACKAGE_ath10k-board-qca9888 is not set
# CONFIG_PACKAGE_ath10k-board-qca988x is not set
# CONFIG_PACKAGE_ath10k-board-qca9984 is not set
# CONFIG_PACKAGE_ath10k-board-qca99x0 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019-ct-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca6174 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9377 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9377-sdio is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9887 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9887-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9887-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9888 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9888-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9888-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9888-ct-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca988x is not set
# CONFIG_PACKAGE_ath10k-firmware-qca988x-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca988x-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9984 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9984-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9984-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca9984-ct-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca99x0 is not set
# CONFIG_PACKAGE_ath10k-firmware-qca99x0-ct is not set
# CONFIG_PACKAGE_ath10k-firmware-qca99x0-ct-full-htt is not set
# CONFIG_PACKAGE_ath10k-firmware-qca99x0-ct-htt is not set
# CONFIG_PACKAGE_ath11k-firmware-ipq5018 is not set
# CONFIG_PACKAGE_ath11k-firmware-ipq6018 is not set
# CONFIG_PACKAGE_ath11k-firmware-ipq8074 is not set
# CONFIG_PACKAGE_ath11k-firmware-qca2066 is not set
# CONFIG_PACKAGE_ath11k-firmware-qca6390 is not set
# CONFIG_PACKAGE_ath11k-firmware-qcn9074 is not set
# CONFIG_PACKAGE_ath11k-firmware-wcn6750 is not set
# CONFIG_PACKAGE_ath11k-firmware-wcn6855 is not set
# CONFIG_PACKAGE_ath12k-firmware-qcn9274 is not set
# CONFIG_PACKAGE_ath12k-firmware-wcn7850 is not set
# CONFIG_PACKAGE_ath6k-firmware is not set
# CONFIG_PACKAGE_ath9k-htc-firmware is not set
# CONFIG_PACKAGE_bnx2-firmware is not set
# CONFIG_PACKAGE_bnx2x-firmware is not set
# CONFIG_PACKAGE_brcmfmac-firmware-4329-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-4339-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-43430a0-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-43456-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-4356-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-43602a1-pcie is not set
# CONFIG_PACKAGE_brcmfmac-firmware-4366b1-pcie is not set
# CONFIG_PACKAGE_brcmfmac-firmware-4366c0-pcie is not set
# CONFIG_PACKAGE_brcmfmac-firmware-43752-pcie is not set
# CONFIG_PACKAGE_brcmfmac-firmware-43752-sdio is not set
# CONFIG_PACKAGE_brcmfmac-firmware-usb is not set
# CONFIG_PACKAGE_brcmfmac-nvram-43430-sdio is not set
# CONFIG_PACKAGE_brcmfmac-nvram-43455-sdio is not set
# CONFIG_PACKAGE_brcmfmac-nvram-43456-sdio is not set
# CONFIG_PACKAGE_brcmfmac-nvram-4356-sdio is not set
# CONFIG_PACKAGE_brcmfmac-nvram-43752-pcie is not set
# CONFIG_PACKAGE_brcmfmac-nvram-43752-sdio is not set
# CONFIG_PACKAGE_brcmsmac-firmware is not set
# CONFIG_PACKAGE_broadcom-4306-sprom is not set
# CONFIG_PACKAGE_broadcom-43112-sprom is not set
# CONFIG_PACKAGE_broadcom-4313-sprom is not set
# CONFIG_PACKAGE_broadcom-43131-sprom is not set
# CONFIG_PACKAGE_broadcom-4318-sprom is not set
# CONFIG_PACKAGE_broadcom-4321-sprom is not set
# CONFIG_PACKAGE_broadcom-43217-sprom is not set
# CONFIG_PACKAGE_broadcom-4322-sprom is not set
# CONFIG_PACKAGE_broadcom-43222-sprom is not set
# CONFIG_PACKAGE_broadcom-43224-sprom is not set
# CONFIG_PACKAGE_broadcom-43225-sprom is not set
# CONFIG_PACKAGE_broadcom-43226-sprom is not set
# CONFIG_PACKAGE_broadcom-43227-sprom is not set
# CONFIG_PACKAGE_broadcom-43228-sprom is not set
# CONFIG_PACKAGE_broadcom-4331-sprom is not set
# CONFIG_PACKAGE_broadcom-43428-sprom is not set
# CONFIG_PACKAGE_broadcom-4360-sprom is not set
# CONFIG_PACKAGE_broadcom-6362-sprom is not set
# CONFIG_PACKAGE_carl9170-firmware is not set
# CONFIG_PACKAGE_cypress-firmware-43012-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43340-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43362-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-4339-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43430-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43439-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43455-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-4354-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-4356-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-4356-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-43570-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-4373-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-4373-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-4373-usb is not set
# CONFIG_PACKAGE_cypress-firmware-54591-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-54591-sdio is not set
# CONFIG_PACKAGE_cypress-firmware-55560-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-55572-pcie is not set
# CONFIG_PACKAGE_cypress-firmware-55572-sdio is not set
# CONFIG_PACKAGE_cypress-nvram-4339-sdio is not set
# CONFIG_PACKAGE_dvb-firmware is not set
# CONFIG_PACKAGE_e100-firmware is not set
# CONFIG_PACKAGE_edgeport-firmware is not set
# CONFIG_PACKAGE_eip197-mini-firmware is not set
# CONFIG_PACKAGE_i915-firmware is not set
# CONFIG_PACKAGE_i915-firmware-dmc is not set
# CONFIG_PACKAGE_i915-firmware-gsc is not set
# CONFIG_PACKAGE_i915-firmware-guc is not set
# CONFIG_PACKAGE_i915-firmware-huc is not set
# CONFIG_PACKAGE_ibt-firmware is not set
# CONFIG_PACKAGE_ice-firmware is not set
# CONFIG_PACKAGE_ivpu-firmware is not set
# CONFIG_PACKAGE_iwl3945-firmware is not set
# CONFIG_PACKAGE_iwl4965-firmware is not set
# CONFIG_PACKAGE_iwlwifi-firmware-ax101 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-ax200 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-ax201 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-ax210 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-ax411 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-be200 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl100 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl1000 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl105 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl135 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl2000 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl2030 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl3160 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl3168 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl5000 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl5150 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl6000g2 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl6000g2a is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl6000g2b is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl6050 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl7260 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl7265 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl7265d is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl8260c is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl8265 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl9000 is not set
# CONFIG_PACKAGE_iwlwifi-firmware-iwl9260 is not set
# CONFIG_PACKAGE_libertas-sdio-firmware is not set
# CONFIG_PACKAGE_libertas-spi-firmware is not set
# CONFIG_PACKAGE_libertas-usb-firmware is not set
# CONFIG_PACKAGE_midisport-firmware is not set
# CONFIG_PACKAGE_mlxsw_spectrum-firmware is not set
# CONFIG_PACKAGE_mlxsw_spectrum2-firmware is not set
# CONFIG_PACKAGE_mlxsw_spectrum3-firmware is not set
# CONFIG_PACKAGE_mlxsw_spectrum4-firmware is not set
# CONFIG_PACKAGE_mt7601u-firmware is not set
# CONFIG_PACKAGE_mt7622bt-firmware is not set
# CONFIG_PACKAGE_mt7921bt-firmware is not set
# CONFIG_PACKAGE_mt7922bt-firmware is not set
# CONFIG_PACKAGE_mt7925bt-firmware is not set
# CONFIG_PACKAGE_mt7981-wo-firmware is not set
# CONFIG_PACKAGE_mt7986-wo-firmware is not set
# CONFIG_PACKAGE_mt7988-2p5g-phy-firmware is not set
# CONFIG_PACKAGE_mt7988-wo-firmware is not set
# CONFIG_PACKAGE_murata-firmware-43430-sdio is not set
# CONFIG_PACKAGE_murata-nvram-43430-sdio is not set
# CONFIG_PACKAGE_mwifiex-pcie-firmware is not set
# CONFIG_PACKAGE_mwifiex-sdio-firmware is not set
# CONFIG_PACKAGE_mwl8k-firmware is not set
CONFIG_PACKAGE_nss-eip-firmware=y
CONFIG_PACKAGE_nss-firmware=y
#
# NSS Firmware Version
#
#
# Select NSS firmware version
#
# CONFIG_NSS_FIRMWARE_VERSION_12_5 is not set
CONFIG_NSS_FIRMWARE_VERSION_12_2=y
# CONFIG_NSS_FIRMWARE_VERSION_12_1 is not set
# CONFIG_NSS_FIRMWARE_VERSION_11_4 is not set
# end of NSS Firmware Version
# CONFIG_PACKAGE_nss-firmware-ipq50xx is not set
CONFIG_PACKAGE_nss-firmware-ipq60xx=y
# CONFIG_PACKAGE_nss-firmware-ipq807x is not set
# CONFIG_PACKAGE_omnia-mcu-firmware is not set
# CONFIG_PACKAGE_p54-pci-firmware is not set
# CONFIG_PACKAGE_p54-spi-firmware is not set
# CONFIG_PACKAGE_p54-usb-firmware is not set
# CONFIG_PACKAGE_panthor-firmware is not set
# CONFIG_PACKAGE_r8152-firmware is not set
# CONFIG_PACKAGE_r8169-firmware is not set
# CONFIG_PACKAGE_radeon-firmware is not set
# CONFIG_PACKAGE_rs9113-firmware is not set
# CONFIG_PACKAGE_rt2800-pci-firmware is not set
# CONFIG_PACKAGE_rt2800-usb-firmware is not set
# CONFIG_PACKAGE_rt61-pci-firmware is not set
# CONFIG_PACKAGE_rt73-usb-firmware is not set
# CONFIG_PACKAGE_rtl8188eu-firmware is not set
# CONFIG_PACKAGE_rtl8188fu-firmware is not set
# CONFIG_PACKAGE_rtl8192ce-firmware is not set
# CONFIG_PACKAGE_rtl8192cu-firmware is not set
# CONFIG_PACKAGE_rtl8192de-firmware is not set
# CONFIG_PACKAGE_rtl8192du-firmware is not set
# CONFIG_PACKAGE_rtl8192eu-firmware is not set
# CONFIG_PACKAGE_rtl8192se-firmware is not set
# CONFIG_PACKAGE_rtl8723au-firmware is not set
# CONFIG_PACKAGE_rtl8723be-firmware is not set
# CONFIG_PACKAGE_rtl8723bu-firmware is not set
# CONFIG_PACKAGE_rtl8723de-firmware is not set
# CONFIG_PACKAGE_rtl8761a-firmware is not set
# CONFIG_PACKAGE_rtl8761b-firmware is not set
# CONFIG_PACKAGE_rtl8761bu-firmware is not set
# CONFIG_PACKAGE_rtl8812a-firmware is not set
# CONFIG_PACKAGE_rtl8814a-firmware is not set
# CONFIG_PACKAGE_rtl8821a-firmware is not set
# CONFIG_PACKAGE_rtl8821ae-firmware is not set
# CONFIG_PACKAGE_rtl8821ce-firmware is not set
# CONFIG_PACKAGE_rtl8822be-firmware is not set
# CONFIG_PACKAGE_rtl8822ce-firmware is not set
# CONFIG_PACKAGE_rtl8851be-firmware is not set
# CONFIG_PACKAGE_rtl8852ae-firmware is not set
# CONFIG_PACKAGE_rtl8852be-firmware is not set
# CONFIG_PACKAGE_rtl8852ce-firmware is not set
# CONFIG_PACKAGE_rtl8922ae-firmware is not set
# CONFIG_PACKAGE_ti-3410-firmware is not set
# CONFIG_PACKAGE_ti-5052-firmware is not set
# CONFIG_PACKAGE_wil6210-firmware is not set
# CONFIG_PACKAGE_wireless-regdb is not set
# CONFIG_PACKAGE_wl12xx-firmware is not set
# CONFIG_PACKAGE_wl18xx-firmware is not set
# end of Firmware
#
# Network Devices
#
# CONFIG_PACKAGE_kmod-3c59x is not set
# CONFIG_PACKAGE_kmod-8139cp is not set
# CONFIG_PACKAGE_kmod-8139too is not set
# CONFIG_PACKAGE_kmod-alx is not set
# CONFIG_PACKAGE_kmod-atl1 is not set
# CONFIG_PACKAGE_kmod-atl1c is not set
# CONFIG_PACKAGE_kmod-atl1e is not set
# CONFIG_PACKAGE_kmod-atl2 is not set
# CONFIG_PACKAGE_kmod-atlantic is not set
# CONFIG_PACKAGE_kmod-b44 is not set
# CONFIG_PACKAGE_kmod-be2net is not set
# CONFIG_PACKAGE_kmod-bnx2 is not set
# CONFIG_PACKAGE_kmod-bnx2x is not set
# CONFIG_PACKAGE_kmod-bnxt-en is not set
# CONFIG_PACKAGE_kmod-dm9000 is not set
CONFIG_PACKAGE_kmod-dsa=y
# CONFIG_PACKAGE_kmod-dsa-b53 is not set
# CONFIG_PACKAGE_kmod-dsa-b53-mdio is not set
# CONFIG_PACKAGE_kmod-dsa-ks8995 is not set
# CONFIG_PACKAGE_kmod-dsa-mv88e6060 is not set
# CONFIG_PACKAGE_kmod-dsa-mv88e6xxx is not set
# CONFIG_PACKAGE_kmod-dsa-notag is not set
CONFIG_PACKAGE_kmod-dsa-qca8k=y
# CONFIG_PACKAGE_kmod-dsa-realtek is not set
# CONFIG_PACKAGE_kmod-dsa-rtl8365mb is not set
# CONFIG_PACKAGE_kmod-dsa-rtl8366rb is not set
# CONFIG_PACKAGE_kmod-dsa-vsc73xx is not set
# CONFIG_PACKAGE_kmod-dsa-vsc73xx-platform is not set
# CONFIG_PACKAGE_kmod-dsa-vsc73xx-spi is not set
# CONFIG_PACKAGE_kmod-dummy is not set
# CONFIG_PACKAGE_kmod-e100 is not set
# CONFIG_PACKAGE_kmod-e1000 is not set
# CONFIG_PACKAGE_kmod-e1000e is not set
# CONFIG_PACKAGE_kmod-enc28j60 is not set
# CONFIG_PACKAGE_kmod-et131x is not set
# CONFIG_PACKAGE_kmod-ethoc is not set
# CONFIG_PACKAGE_kmod-fixed-phy is not set
# CONFIG_PACKAGE_kmod-forcedeth is not set
# CONFIG_PACKAGE_kmod-hfcmulti is not set
# CONFIG_PACKAGE_kmod-hfcpci is not set
# CONFIG_PACKAGE_kmod-i40e is not set
# CONFIG_PACKAGE_kmod-iavf is not set
# CONFIG_PACKAGE_kmod-ice is not set
CONFIG_PACKAGE_kmod-ifb=y
# CONFIG_PACKAGE_kmod-igb is not set
# CONFIG_PACKAGE_kmod-igc is not set
# CONFIG_PACKAGE_kmod-ipvlan is not set
# CONFIG_PACKAGE_kmod-ixgbe is not set
# CONFIG_PACKAGE_kmod-ixgbevf is not set
# CONFIG_PACKAGE_kmod-lan743x is not set
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-mdio-devres=y
# CONFIG_PACKAGE_kmod-mdio-gpio is not set
# CONFIG_PACKAGE_kmod-mhi-net is not set
# CONFIG_PACKAGE_kmod-mhi-wwan-ctrl is not set
# CONFIG_PACKAGE_kmod-mhi-wwan-mbim is not set
# CONFIG_PACKAGE_kmod-mii is not set
# CONFIG_PACKAGE_kmod-mlx4-core is not set
# CONFIG_PACKAGE_kmod-mlx5-core is not set
# CONFIG_PACKAGE_kmod-mlxfw is not set
# CONFIG_PACKAGE_kmod-mtk-t7xx is not set
# CONFIG_PACKAGE_kmod-natsemi is not set
# CONFIG_PACKAGE_kmod-ne2k-pci is not set
CONFIG_PACKAGE_kmod-net-selftests=y
# CONFIG_PACKAGE_kmod-niu is not set
# CONFIG_PACKAGE_kmod-nss-ifb is not set
# CONFIG_PACKAGE_kmod-of-mdio is not set
# CONFIG_PACKAGE_kmod-pcnet32 is not set
# CONFIG_PACKAGE_kmod-phy-aeonsemi-as21xxx is not set
# CONFIG_PACKAGE_kmod-phy-airoha-en8811h is not set
# CONFIG_PACKAGE_kmod-phy-amd is not set
CONFIG_PACKAGE_kmod-phy-aquantia=y
# CONFIG_PACKAGE_kmod-phy-at803x is not set
# CONFIG_PACKAGE_kmod-phy-ax88796b is not set
# CONFIG_PACKAGE_kmod-phy-bcm7xxx is not set
# CONFIG_PACKAGE_kmod-phy-bcm84881 is not set
# CONFIG_PACKAGE_kmod-phy-broadcom is not set
# CONFIG_PACKAGE_kmod-phy-intel-xway is not set
# CONFIG_PACKAGE_kmod-phy-marvell is not set
# CONFIG_PACKAGE_kmod-phy-marvell-10g is not set
# CONFIG_PACKAGE_kmod-phy-maxlinear is not set
# CONFIG_PACKAGE_kmod-phy-micrel is not set
# CONFIG_PACKAGE_kmod-phy-microchip is not set
CONFIG_PACKAGE_kmod-phy-qca83xx=y
# CONFIG_PACKAGE_kmod-phy-realtek is not set
# CONFIG_PACKAGE_kmod-phy-rtl8261n is not set
# CONFIG_PACKAGE_kmod-phy-smsc is not set
# CONFIG_PACKAGE_kmod-phy-vitesse is not set
CONFIG_PACKAGE_kmod-phylib-qcom=y
CONFIG_PACKAGE_kmod-phylink=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
#
# Configuration
#
#
# Build Options
#
CONFIG_NSS_MEM_PROFILE_MEDIUM=y
# CONFIG_NSS_MEM_PROFILE_LOW is not set
CONFIG_NSS_DRV_BRIDGE_ENABLE=y
# CONFIG_NSS_DRV_CAPWAP_ENABLE is not set
# CONFIG_NSS_DRV_CLMAP_ENABLE is not set
CONFIG_NSS_DRV_CRYPTO_ENABLE=y
# CONFIG_NSS_DRV_DTLS_ENABLE is not set
CONFIG_NSS_DRV_GRE_ENABLE=y
# CONFIG_NSS_DRV_GRE_REDIR_ENABLE is not set
# CONFIG_NSS_DRV_GRE_TUNNEL_ENABLE is not set
CONFIG_NSS_DRV_IGS_ENABLE=y
# CONFIG_NSS_DRV_IPSEC_ENABLE is not set
# CONFIG_NSS_DRV_IPV4_REASM_ENABLE is not set
CONFIG_NSS_DRV_IPV6_ENABLE=y
# CONFIG_NSS_DRV_IPV6_REASM_ENABLE is not set
CONFIG_NSS_DRV_L2TP_ENABLE=y
CONFIG_NSS_DRV_LAG_ENABLE=y
CONFIG_NSS_DRV_MAPT_ENABLE=y
CONFIG_NSS_DRV_MATCH_ENABLE=y
CONFIG_NSS_DRV_MIRROR_ENABLE=y
# CONFIG_NSS_DRV_LSO_RX_ENABLE is not set
CONFIG_NSS_DRV_PPPOE_ENABLE=y
CONFIG_NSS_DRV_PPTP_ENABLE=y
# CONFIG_NSS_DRV_PVXLAN_ENABLE is not set
# CONFIG_NSS_DRV_QVPN_ENABLE is not set
CONFIG_NSS_DRV_SHAPER_ENABLE=y
# CONFIG_NSS_DRV_SJACK_ENABLE is not set
# CONFIG_NSS_DRV_TLS_ENABLE is not set
# CONFIG_NSS_DRV_TRUSTSEC_ENABLE is not set
CONFIG_NSS_DRV_TUN6RD_ENABLE=y
CONFIG_NSS_DRV_TUNIPIP6_ENABLE=y
CONFIG_NSS_DRV_VIRT_IF_ENABLE=y
CONFIG_NSS_DRV_VLAN_ENABLE=y
CONFIG_NSS_DRV_VXLAN_ENABLE=y
CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE=y
# CONFIG_NSS_DRV_WIFI_EXT_VDEV_ENABLE is not set
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
# end of Configuration
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-eogremgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-gre=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=y
CONFIG_PACKAGE_kmod-qca-nss-drv-match=y
CONFIG_PACKAGE_kmod-qca-nss-drv-mirror=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-netlink is not set
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr=y
CONFIG_PACKAGE_kmod-qca-ssdk=y
# CONFIG_PACKAGE_kmod-qede is not set
# CONFIG_PACKAGE_kmod-qlcnic is not set
# CONFIG_PACKAGE_kmod-r6040 is not set
# CONFIG_PACKAGE_kmod-r8101 is not set
# CONFIG_PACKAGE_kmod-r8125 is not set
# CONFIG_PACKAGE_kmod-r8126 is not set
# CONFIG_PACKAGE_kmod-r8127 is not set
# CONFIG_PACKAGE_kmod-r8168 is not set
# CONFIG_PACKAGE_kmod-r8169 is not set
# CONFIG_PACKAGE_kmod-rmnet is not set
# CONFIG_PACKAGE_kmod-sfc is not set
# CONFIG_PACKAGE_kmod-sfc-falcon is not set
# CONFIG_PACKAGE_kmod-sfc-siena is not set
# CONFIG_PACKAGE_kmod-sfp is not set
# CONFIG_PACKAGE_kmod-siit is not set
# CONFIG_PACKAGE_kmod-sis190 is not set
# CONFIG_PACKAGE_kmod-sis900 is not set
# CONFIG_PACKAGE_kmod-skge is not set
# CONFIG_PACKAGE_kmod-sky2 is not set
# CONFIG_PACKAGE_kmod-solos-pci is not set
# CONFIG_PACKAGE_kmod-swconfig is not set
# CONFIG_PACKAGE_kmod-switch-ar8xxx is not set
# CONFIG_PACKAGE_kmod-switch-ip17xx is not set
# CONFIG_PACKAGE_kmod-switch-rtl8306 is not set
# CONFIG_PACKAGE_kmod-switch-rtl8366-smi is not set
# CONFIG_PACKAGE_kmod-switch-rtl8366rb is not set
# CONFIG_PACKAGE_kmod-switch-rtl8366s is not set
# CONFIG_PACKAGE_kmod-switch-rtl8367 is not set
# CONFIG_PACKAGE_kmod-switch-rtl8367b is not set
# CONFIG_PACKAGE_kmod-tg3 is not set
# CONFIG_PACKAGE_kmod-tulip is not set
# CONFIG_PACKAGE_kmod-via-rhine is not set
# CONFIG_PACKAGE_kmod-via-velocity is not set
# CONFIG_PACKAGE_kmod-vmxnet3 is not set
# CONFIG_PACKAGE_kmod-wwan is not set
# end of Network Devices
#
# Network Support
#
# CONFIG_PACKAGE_kmod-9pnet is not set
# CONFIG_PACKAGE_kmod-9pvirtio is not set
# CONFIG_PACKAGE_kmod-appletalk is not set
# CONFIG_PACKAGE_kmod-atm is not set
# CONFIG_PACKAGE_kmod-ax25 is not set
# CONFIG_PACKAGE_kmod-batman-adv is not set
CONFIG_PACKAGE_kmod-bonding=y
# CONFIG_PACKAGE_kmod-bpf-test is not set
# CONFIG_PACKAGE_kmod-dnsresolver is not set
# CONFIG_PACKAGE_kmod-fou is not set
# CONFIG_PACKAGE_kmod-fou6 is not set
# CONFIG_PACKAGE_kmod-geneve is not set
CONFIG_PACKAGE_kmod-gre=y
CONFIG_PACKAGE_kmod-gre6=y
# CONFIG_PACKAGE_kmod-inet-diag is not set
# CONFIG_PACKAGE_kmod-inet-mptcp-diag is not set
CONFIG_PACKAGE_kmod-ip6-tunnel=y
# CONFIG_PACKAGE_kmod-ipip is not set
# CONFIG_PACKAGE_kmod-ipsec is not set
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-iptunnel6=y
# CONFIG_PACKAGE_kmod-jool-netfilter is not set
CONFIG_PACKAGE_kmod-l2tp=y
# CONFIG_PACKAGE_kmod-l2tp-eth is not set
# CONFIG_PACKAGE_kmod-l2tp-ip is not set
# CONFIG_PACKAGE_kmod-macremapper is not set
# CONFIG_PACKAGE_kmod-macsec is not set
# CONFIG_PACKAGE_kmod-mdio-netlink is not set
# CONFIG_PACKAGE_kmod-misdn is not set
# CONFIG_PACKAGE_kmod-mpls is not set
CONFIG_PACKAGE_kmod-nat46=y
# CONFIG_PACKAGE_kmod-netconsole is not set
# CONFIG_PACKAGE_kmod-netem is not set
# CONFIG_PACKAGE_kmod-netlink-diag is not set
# CONFIG_PACKAGE_kmod-nlmon is not set
# CONFIG_PACKAGE_kmod-nsh is not set
# CONFIG_PACKAGE_kmod-openvswitch is not set
# CONFIG_PACKAGE_kmod-openvswitch-geneve is not set
# CONFIG_PACKAGE_kmod-openvswitch-gre is not set
# CONFIG_PACKAGE_kmod-openvswitch-vxlan is not set
# CONFIG_PACKAGE_kmod-ovpn-dco-v2 is not set
# CONFIG_PACKAGE_kmod-packet-diag is not set
# CONFIG_PACKAGE_kmod-pf-ring is not set
# CONFIG_PACKAGE_kmod-pktgen is not set
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
# CONFIG_PACKAGE_kmod-ppp-synctty is not set
# CONFIG_PACKAGE_kmod-pppoa is not set
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=y
# CONFIG_PACKAGE_kmod-qca-mcs is not set
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
# CONFIG_PACKAGE_kmod-qrtr-mhi is not set
# CONFIG_PACKAGE_kmod-qrtr-smd is not set
# CONFIG_PACKAGE_kmod-qrtr-tun is not set
# CONFIG_PACKAGE_kmod-sched is not set
# CONFIG_PACKAGE_kmod-sched-act-police is not set
# CONFIG_PACKAGE_kmod-sched-act-sample is not set
# CONFIG_PACKAGE_kmod-sched-act-vlan is not set
# CONFIG_PACKAGE_kmod-sched-bpf is not set
# CONFIG_PACKAGE_kmod-sched-cake is not set
# CONFIG_PACKAGE_kmod-sched-connmark is not set
CONFIG_PACKAGE_kmod-sched-core=y
# CONFIG_PACKAGE_kmod-sched-ctinfo is not set
# CONFIG_PACKAGE_kmod-sched-drr is not set
# CONFIG_PACKAGE_kmod-sched-flower is not set
# CONFIG_PACKAGE_kmod-sched-fq-pie is not set
# CONFIG_PACKAGE_kmod-sched-ipset is not set
# CONFIG_PACKAGE_kmod-sched-mqprio is not set
# CONFIG_PACKAGE_kmod-sched-pie is not set
# CONFIG_PACKAGE_kmod-sched-prio is not set
# CONFIG_PACKAGE_kmod-sched-red is not set
# CONFIG_PACKAGE_kmod-sched-skbprio is not set
# CONFIG_PACKAGE_kmod-sctp is not set
# CONFIG_PACKAGE_kmod-sctp-diag is not set
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-slhc=y
# CONFIG_PACKAGE_kmod-slip is not set
# CONFIG_PACKAGE_kmod-tcp-bbr is not set
# CONFIG_PACKAGE_kmod-tcp-hybla is not set
# CONFIG_PACKAGE_kmod-tcp-scalable is not set
# CONFIG_PACKAGE_kmod-tls is not set
# CONFIG_PACKAGE_kmod-trelay is not set
# CONFIG_PACKAGE_kmod-tun is not set
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
# CONFIG_PACKAGE_kmod-unix-diag is not set
# CONFIG_PACKAGE_kmod-veth is not set
# CONFIG_PACKAGE_kmod-vrf is not set
CONFIG_PACKAGE_kmod-vxlan=y
# CONFIG_PACKAGE_kmod-wireguard is not set
# end of Network Support
#
# USB Support
#
# CONFIG_PACKAGE_kmod-chaoskey is not set
# CONFIG_PACKAGE_kmod-usb-acm is not set
# CONFIG_PACKAGE_kmod-usb-atm is not set
# CONFIG_PACKAGE_kmod-usb-cdns is not set
# CONFIG_PACKAGE_kmod-usb-cdns3 is not set
# CONFIG_PACKAGE_kmod-usb-cm109 is not set
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc2 is not set
# CONFIG_PACKAGE_kmod-usb-dwc2-pci is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-hid is not set
# CONFIG_PACKAGE_kmod-usb-hid-cp2112 is not set
# CONFIG_PACKAGE_kmod-usb-hid-mcp2221 is not set
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-net-aqc111 is not set
# CONFIG_PACKAGE_kmod-usb-net-asix is not set
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179 is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-eem is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-ether is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-mbim is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-ncm is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-subset is not set
# CONFIG_PACKAGE_kmod-usb-net-dm9601-ether is not set
# CONFIG_PACKAGE_kmod-usb-net-hso is not set
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm is not set
# CONFIG_PACKAGE_kmod-usb-net-ipheth is not set
# CONFIG_PACKAGE_kmod-usb-net-kalmia is not set
# CONFIG_PACKAGE_kmod-usb-net-kaweth is not set
# CONFIG_PACKAGE_kmod-usb-net-lan78xx is not set
# CONFIG_PACKAGE_kmod-usb-net-mcs7830 is not set
# CONFIG_PACKAGE_kmod-usb-net-pegasus is not set
# CONFIG_PACKAGE_kmod-usb-net-pl is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-fibocom is not set
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-quectel is not set
# CONFIG_PACKAGE_kmod-usb-net-rndis is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8150 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor is not set
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless is not set
# CONFIG_PACKAGE_kmod-usb-net-smsc75xx is not set
# CONFIG_PACKAGE_kmod-usb-net-smsc95xx is not set
# CONFIG_PACKAGE_kmod-usb-net-sr9700 is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
# CONFIG_PACKAGE_kmod-usb-ohci-pci is not set
# CONFIG_PACKAGE_kmod-usb-printer is not set
# CONFIG_PACKAGE_kmod-usb-serial is not set
# CONFIG_PACKAGE_kmod-usb-serial-ark3116 is not set
# CONFIG_PACKAGE_kmod-usb-serial-belkin is not set
# CONFIG_PACKAGE_kmod-usb-serial-ch341 is not set
# CONFIG_PACKAGE_kmod-usb-serial-ch348 is not set
# CONFIG_PACKAGE_kmod-usb-serial-cp210x is not set
# CONFIG_PACKAGE_kmod-usb-serial-cypress-m8 is not set
# CONFIG_PACKAGE_kmod-usb-serial-edgeport is not set
# CONFIG_PACKAGE_kmod-usb-serial-ftdi is not set
# CONFIG_PACKAGE_kmod-usb-serial-garmin is not set
# CONFIG_PACKAGE_kmod-usb-serial-ipw is not set
# CONFIG_PACKAGE_kmod-usb-serial-keyspan is not set
# CONFIG_PACKAGE_kmod-usb-serial-mct is not set
# CONFIG_PACKAGE_kmod-usb-serial-mos7720 is not set
# CONFIG_PACKAGE_kmod-usb-serial-mos7840 is not set
# CONFIG_PACKAGE_kmod-usb-serial-option is not set
# CONFIG_PACKAGE_kmod-usb-serial-oti6858 is not set
# CONFIG_PACKAGE_kmod-usb-serial-pl2303 is not set
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm is not set
# CONFIG_PACKAGE_kmod-usb-serial-sierrawireless is not set
# CONFIG_PACKAGE_kmod-usb-serial-simple is not set
# CONFIG_PACKAGE_kmod-usb-serial-ti-usb is not set
# CONFIG_PACKAGE_kmod-usb-serial-visor is not set
# CONFIG_PACKAGE_kmod-usb-serial-xr is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-storage-extras is not set
# CONFIG_PACKAGE_kmod-usb-storage-uas is not set
# CONFIG_PACKAGE_kmod-usb-uhci is not set
# CONFIG_PACKAGE_kmod-usb-wdm is not set
# CONFIG_PACKAGE_kmod-usb-xhci-pci-renesas is not set
# CONFIG_PACKAGE_kmod-usb-yealink is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb2-pci is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usbip is not set
# CONFIG_PACKAGE_kmod-usbip-client is not set
# CONFIG_PACKAGE_kmod-usbip-server is not set
# CONFIG_PACKAGE_kmod-usbmon is not set
# end of USB Support
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_px5g-mbedtls=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
